<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
   <link rel="stylesheet" href="../public/style1.css " type="text/css">
    
</head>
<body>
    <h1>Register Here</h1>
    <form action="/register" method="post">
        <input type="text" placeholder="Enter Your Username" name="username"/>

        <input type="text" placeholder="Enter Your Name" name="name"/>
        <input type="email" placeholder="Enter Your Email" name="email"/>
        <input type="number" placeholder="Enter Your Age" name="age"/>
        <input type="tel" placeholder="Enter Your Phone No" name="phone"/>
        <input type="password" placeholder="Enter Your Password" name="password"/>
        <button type="submit">Register</button>


    </form>
</body>
</html>